body {
    background: #1f3440;
}
h1 {
    text-align: center;
    font-size: 60px;
}
h2 {
    text-align: center;
    font-size: 10px;
    bottom: 0%;
    position: fixed;
 }
 p{
    text-align: center;
    font-size: 40px;
    color: #edbf43;
 }
 img {
    margin: auto;
    display: block;
  }
