body {
    background: #1f3440;
    margin: 0;
}

#Name-Container {
    position: fixed;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 2px solid white;
    padding-left: 20px;
}

#Email-Logo {
    display: flex;
    margin-right: 20px;
}

#Email-Logo img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 10px; /* Adjust as needed */
    align-items: center;

}

h3{
    color: #56d7b4;
    font-family: 'Fira Code', monospace;
    font-size: 40px;
}

h5{
    font-size: 25px;
    color: white;
    font-family: 'Fira Code', monospace;
    margin-left: 20px;
    width: 60%;
    text-decoration: underline;
    
}
h5 a {
    color: white;
    text-decoration: underline; 
}

iframe{
    margin-left: 20px;
}
h6{
    font-size: 20px;
    color: white;
    font-family: 'Fira Code', monospace;
    margin-left: 20px;
    width: 60%;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: #56d7b4;
    font-family: 'Fira Code', monospace;
}

#content {
    text-align: center;
    width: 60%;
    margin: auto;
    
    
}

#Bio{
    margin-top: 100px;
    border-bottom: 2px solid white;
    width: 60%;

}

p {
    font-size: 30px;
    color: white;
    font-family: 'Fira Code', monospace;
    margin-left: 20px;
   
   
}

#profile-pic {
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
