body {
    background: #1f3440;
    margin: 0;
}

#Name-Container {
    position: fixed;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 2px solid white; /* Add a white left border */
    padding-left: 20px;
}

#Email-Logo img {
    border-radius: 50%; /* Make the image a circle */
    width: 500px; /* Adjust the size as needed */
    height: 500px;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: #56d7b4;
    font-family: 'Fira Code', monospace;
}

h3 {
    text-align: center;
    font-size: 10px;
    font-family: 'Fira Code', monospace;
    margin-top: 10px; /* Add margin to separate from h1 */
}

.content {
    text-align: center;
    width: 60%;
    margin: auto;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%; /* Make the image a circle */
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Adjust the size as needed */
}

p {
    font-size: 30px;
    color: white;
    font-family: 'Fira Code', monospace;
    position: fixed;
    left: 25px;
    top: 125px;
    width: 60%;
}

img {
    border-radius: 50%; /* Make the image a circle */
    
}
